@import "remixicon/fonts/remixicon.css";
.container {
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 16px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.portfolioimg {
  margin-right: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 20px 0 white, 0 6px 20px 0 white;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 25px;
  color: white;
  margin-left: 35em;
  padding: 35px;
}

.link:not(is-active):hover::before {
  opacity: 1;
  bottom: 0;
}

.link:not(is-active):hover {
  color: gray;
  text-decoration: underline;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  height: 60px;
  margin-top: 1%;
}

a.icon {
  color: #fff;
  animation: first_color 0.3s ease-in-out infinite alternate;
}

a.icon:nth-child(2) {
  animation-name: second_color;
}

a.icon:nth-child(3) {
  animation-name: third_color;
}

@keyframes first_color {
  0% {
    text-shadow: 0 0 10px #ff1177, 0 0 20px #d6249f, 0 0 30px #285aeb;
  }
  100% {
    text-shadow: 0 0 5px #ff1177, 0 0 10px #d6249f, 0 0 15px #285aeb;
  }
}
@keyframes second_color {
  0% {
    text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff;
  }
  100% {
    text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff;
  }
}
@keyframes third_color {
  0% {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  }
  100% {
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  }
}
* {
  font-family: Copperplate, Papyrus, fantasy;
}

.homeback {
  background: black;
  color: white;
  padding-top: 125px;
}

.profileimagecenter {
  display: block;
  margin-left: 786px;
  margin-right: auto;
  width: 993px;
  height: 80vh;
  margin-top: -20em;
}

.profile-text {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.grid-Container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: white;
  padding-bottom: 150px;
  padding-top: 55px;
}

.grid-Container > div {
  text-align: center;
  padding: 20px 0;
}

.profileproject img {
  height: 250px;
  width: 250px;
  display: center;
  border-radius: 5px;
}

.profileproject {
  margin-left: 20%;
  width: 65%;
  background-color: white;
  box-shadow: black;
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 black;
}

.about {
  text-align: center;
  text-decoration: overline underline;
}

@media (max-width: 777px), (max-width: 820px) {
  .navlist {
    list-style: none;
    display: flex;
    gap: 25px;
    color: white;
    margin-left: 5em;
    padding: 35px;
    font-size: 24px;
  }

  .profile-text {
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 25px;
    margin-left: 3px;
  }

  .profileimagecenter {
    display: block;
    margin-left: 115px;
    margin-right: auto;
    width: 993px;
    height: 80vh;
    margin-top: -29em;
  }

  .profileproject img {
    height: 250px;
    width: 230px;
    border-radius: 7px;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 60px;
    margin-top: 7%;
  }
}
@media (max-width: 412px), (max-width: 414px) {
  .navlist {
    list-style: none;
    display: flex;
    gap: 35px;
    color: white;
    margin-left: 9px;
    padding: 5px;
    font-size: 24px;
  }

  .profile-text {
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 25px;
    margin-left: 3px;
  }

  .profileimagecenter {
    display: block;
    margin-left: 282px;
    width: 200px;
    height: 22vh;
    margin-top: -3em;
  }

  .profileproject img {
    height: 250px;
    width: 230px;
    border-radius: 7px;
  }

  .grid-Container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    background-color: white;
    padding-bottom: 150px;
    padding-top: 55px;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 60px;
    margin-top: 7%;
  }
}
@media (max-width: 360px) {
  .navlist {
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
    margin-left: 9px;
    padding: 5px;
    font-size: 24px;
  }

  .profile-text {
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 25px;
    margin-left: 3px;
  }

  .profileimagecenter {
    display: none;
  }

  .profileproject img {
    height: 250px;
    width: 230px;
    border-radius: 7px;
  }

  .grid-Container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    background-color: white;
    padding-bottom: 150px;
    padding-top: 55px;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 60px;
    margin-top: 7%;
  }
}
.input {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid #dee2e6;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.form {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 50px auto;
  background: #212529;
  padding: 30px;
  border-radius: 3%;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  color: #adb5bd;
}

[type=submit] {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  background: black;
  cursor: pointer;
  color: #ced4da;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  border-radius: 70px;
}

[type=submit]:hover {
  background: white;
}

.heading {
  color: white;
}

@media (max-width: 768px) {
  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 60px;
    margin-top: 272px;
  }
}
@media (max-width: 820px) {
  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 60px;
    margin-top: 27em;
  }
}
* {
  font-family: Copperplate, Papyrus, fantasy;
}

.back {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin-top: 100px;
}

/* targets each section of projects */
section {
  margin-top: 2%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  border-radius: 3%;
  margin-right: 2%;
  margin-left: 2%;
}

/* all paragraphs */
.text {
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  text-align: center;
  padding-bottom: 5%;
  color: white;
}

/* titles in the TAX and Air */
.title {
  padding-top: 0;
  text-align: center;
  text-decoration: underline;
  color: white;
  justify-content: center;
}

.column {
  position: relative;
  float: left;
  width: 50%;
}

.column1 {
  position: relative;
  float: left;
  width: 50%;
}

.img-1 {
  position: relative;
  left: 5%;
  bottom: 3px;
  height: 60vh;
  width: 100%;
  border-radius: 20px;
}

.img2 {
  position: relative;
  left: 5%;
  bottom: 3px;
  height: 60vh;
  width: 100%;
  border-radius: 20px;
}

.img4 {
  position: relative;
  left: 5%;
  bottom: 3px;
  height: 60vh;
  width: 100%;
  border-radius: 20px;
}

.img3 {
  position: relative;
  left: 5%;
  bottom: 3px;
  height: 74vh;
  width: 100%;
  border-radius: 20px;
}

/*button effect */
.btn {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  background: white;
  cursor: pointer;
  color: black;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 16px;
  margin-top: 100px;
  margin-right: 10%;
  font-weight: 700;
  border-radius: 70px;
  padding: 15px;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btncont {
  margin-left: 12em;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .column1 {
    float: left;
    position: relative;
  }

  .column {
    position: relative;
    width: 72%;
  }

  .img-1, .img2, .img3, .img4 {
    border-radius: 20px;
    bottom: 3px;
    left: 15%;
    position: relative;
    width: 100%;
  }

  .btn {
    background: #fff;
    border-radius: 70px;
    color: #000;
    cursor: pointer;
    font-family: Courier New, Courier, monospace;
    font-size: 10px;
    font-weight: 700;
    margin-top: 100px;
    padding: 5px;
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
